<h2>Login</h2>
<form action="/login" method="post">
	<input type="text" placeholder="Email" name="email">
	<input type="password" placeholder="Password" name="password">
	<button>Log In</button>
	<a href="/signup">New user? Sign up</a>
</form>