<h2>Sign up</h2>
<form action="/signup" method="post">

	<input type="text" placeholder="First Name" name="firstName">
	<input type="text" placeholder="Last Name" name="lastName">

	<input type="text" placeholder="Email" name="email">
	<input type="password" placeholder="Password" name="password">
	<input type="password" placeholder="Password" name="confirmPassword">
	<button>Submit</button>
</form>