<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fitlog</title>
</head>
<script>
	print(messages) {
		return JSON.strigify(messages)
	}
</script>
<style>
	.success {
		color: green;
	}

	.error {
		color: #F30037;
	}
</style>
<body>
	{{#if messages.error}}
	<div class="error">
	    <p>{{ messages.error }}</p>
	</div>
	{{/if}}
	{{#if messages.info}}
	<div class="success">
	    <p>{{ messages.info }}</p>
	</div>
	{{/if}}
	{{{body}}}
</body>
</html>